html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    background-color: #DEB887; 
}

nav {
    flex: 0 0 auto; /* Adjust to content height */
}

main {
    flex: 1; /* This makes the main area expand to take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

footer {
    flex: 0 0 auto; /* Adjusts to content height */
    width: 100%; 
    padding: 10px 0; /* Increased padding for extra blue space */
    text-align: center; 
    background-color: blue; /* Changed to blue for contrast */
    color: white; 
    font-size: 0.9rem; 
}

footer a {
    color: yellow; /* Changed hyperlink color to yellow for clear visibility */
    text-decoration: underline;
}

footer h2 {
    margin-bottom: 10px; /* Added margin below the email address */
}

/* Navigation Styles */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.active {
    background-color: saddlebrown;
    color: white;
}
