
  html, body {
    margin: 0;
    height: 100%;
}



  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer";
    grid-template-rows: 55px 1fr 80px;
	background-color: #DEB887; 
	color: #A52A2A; 

}

main {
    background-color: #DEB887;
    grid-area: main;
	margin-left:27px;
}

h3 {
    color: black;
}
