
  html, body {
    margin: 0;
    height: 100%;
}



  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer";
    grid-template-rows: 55px 1fr 80px;
	background-color: #DEB887; 

}


footer {

    grid-area: footer;
	
	     width: 100%; 
	     margin: 0px auto; 
	     padding: 3px 0; 
	     text-align:center; 
	     background-color: #964B00; 
	     color:white; 
	     font-size: 0.9rem; 
	
	
	
}
